<div class="header">
  <div class="navbar navbar-inverse">
    <div class="container">
      <h2 class="header__title">Trello Clone</h2>
      <button (click)="socialSignIn()"
              class="btn btn btn-info">
        Sign in with Facebook
      </button>
      <button (click)="onLogUotFb()"
              class="btn btn btn-info">
        logout
      </button>
      <div class="header__user-status navbar-right"
           [ngSwitch]="userStatus">
        <button mat-raised-button
                class="btn btn btn-info btn btn-primary"
                *ngSwitchCase="false"
                (click)="openDialog()">
          Log In
        </button>
        <button mat-raised-button
                class="btn btn btn-info btn btn-primary"
                *ngSwitchCase="true"
                (click)="onLogUotUser()">
          Log Uot
        </button>
      </div>
    </div>
  </div>
</div>
